<script src="{{ base_path }}/assets/js/main.min.js"></script>
<script src="{{ base_path }}/bower_components/bower-webfontloader/webfont.js"></script>
<script src="{{ base_path }}/bower_components/snap.svg/dist/snap.svg-min.js"></script>
<script src="{{ base_path }}/bower_components/underscore/underscore-min.js"></script>
<script src="{{ base_path }}/bower_components/js-sequence-diagrams/dist/sequence-diagram-min.js"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
